<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.pushcoin.app.bitsypos"
	android:versionCode="1000"
	android:versionName="1.0">

	<uses-sdk
		android:minSdkVersion="17"
		android:targetSdkVersion="19" />

	<supports-screens
		android:smallScreens="false"
		android:normalScreens="true"
		android:largeScreens="true"
		android:xlargeScreens="true" />

	<application 
		android:theme="@style/BitsyDarkTheme"
		android:label="@string/app_name" 
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher">

		<!-- Catalog Browser -->
		<activity
			android:name=".BrowseCatalogActivity"
			android:label="@string/app_name"
			android:screenOrientation="landscape"
			android:configChanges="keyboardHidden|orientation|screenSize">

			<intent-filter>
					<action android:name="android.intent.action.MAIN" />
					<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

		</activity>

		<!-- Catalog Browser -->
		<activity
			android:name=".CheckoutActivity"
			android:label="@string/checkout_activity_label"
			android:parentActivityName=".BrowseCatalogActivity"
			android:screenOrientation="landscape"
			android:configChanges="keyboardHidden|orientation|screenSize">

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".BrowseCatalogActivity" />

		</activity>

	</application>
</manifest>
