<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>General</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Passcode</string>
			<key>Key</key>
			<string>passcode</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>QR Auto-brightness</string>
			<key>Key</key>
			<string>auto-brightness</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Title</key>
            <string>QR Expiration</string>
            <key>Key</key>
            <string>qr-expiration</string>
            <key>DefaultValue</key>
            <integer>60</integer>
            <key>Titles</key>
            <array>
                <string>1 minute</string>
                <string>5 minutes</string>
                <string>10 minutes</string>
                <string>30 minutes</string>
                <string>1 hour</string>
                <string>6 hours</string>
                <string>24 hours</string>
            </array>
            <key>Values</key>
            <array>
                <integer>60</integer>
                <integer>300</integer>
                <integer>600</integer>
                <integer>1800</integer>
                <integer>3600</integer>
                <integer>21600</integer>
                <integer>86400</integer>
            </array>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Title</key>
            <string>Email Expiration</string>
            <key>Key</key>
            <string>email-expiration</string>
            <key>DefaultValue</key>
            <integer>86400</integer>
            <key>Titles</key>
            <array>
                <string>1 minute</string>
                <string>5 minutes</string>
                <string>10 minutes</string>
                <string>30 minutes</string>
                <string>1 hour</string>
                <string>6 hours</string>
                <string>24 hours</string>
            </array>
            <key>Values</key>
            <array>
                <integer>60</integer>
                <integer>300</integer>
                <integer>600</integer>
                <integer>1800</integer>
                <integer>3600</integer>
                <integer>21600</integer>
                <integer>86400</integer>
            </array>
        </dict>
        <dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Registration</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Pre-Authorization Test</string>
			<key>Key</key>
			<string>preauth-test</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Unregister Device</string>
			<key>Key</key>
			<string>unregister-device</string>
		</dict>
	</array>
</dict>
</plist>
